<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body{
            background-color: azure;
        }
    </style>
</head>
<body>
    <div class="container2">
        <div class="result">
            <h2>Your QR Code Is Generated </h2>
        </div>
        <div class="res-image">
            <img src="qr3.jpg" alt="qrCode">
        </div>
        <div class="home">
            <form action="/home" method="post">
                <button type="submit" class="home-btn">Home</button>
            </form>
        </div>
    </div>
</body>
</html>